/* STRUCTURE */
/* line 3, ../sass/style.scss */
body {
  margin: 0 auto;
  padding: 0;
  font: 100%/1.4 "lucida sans unicode", "lucida grande", "Trebuchet MS", verdana, arial, helvetica, helve, sans-serif; }

/* line 9, ../sass/style.scss */
strong {
  font-weight: bold; }

/* line 13, ../sass/style.scss */
.container {
  clear: both;
  color: #333333;
  font-size: 0.8125em;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 1em 0;
  position: relative;
  width: 95%; }

/* COMMON */
/* line 26, ../sass/style.scss */
.clear {
  clear: both; }

/* line 30, ../sass/style.scss */
.table td, .table th {
  vertical-align: middle; }

/*input[type="submit"] {
    padding-bottom: 6px;
    padding-top: 6px;
}*/
/* TABLE */
/* line 44, ../sass/style.scss */
.table td.action {
  text-align: center; }

/* NAV BAR */
/* line 52, ../sass/style.scss */
.navbar .navbar-inner {
  margin: 0;
  padding: 0; }
  /* line 56, ../sass/style.scss */
  .navbar .navbar-inner .nav {
    width: 45%; }
/* line 61, ../sass/style.scss */
.navbar .welcome {
  float: right; }
  /* line 64, ../sass/style.scss */
  .navbar .welcome .greetings {
    float: none;
    padding: 10px 15px 10px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 white; }
    /* line 71, ../sass/style.scss */
    .navbar .welcome .greetings .user {
      font-weight: bold; }
/* line 77, ../sass/style.scss */
.navbar .project_selector {
  float: left;
  width: 20%;
  margin-left: 5%; }
  /* line 82, ../sass/style.scss */
  .navbar .project_selector select {
    width: auto;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    margin: 3px 5px 5px 5px; }
  /* line 90, ../sass/style.scss */
  .navbar .project_selector input[type="submit"] {
    margin-top: 0; }
  /* line 94, ../sass/style.scss */
  .navbar .project_selector label {
    display: inline; }
  /* line 98, ../sass/style.scss */
  .navbar .project_selector form {
    margin-bottom: 0; }
    /* line 101, ../sass/style.scss */
    .navbar .project_selector form div {
      display: block;
      float: left;
      height: 40px;
      line-height: 40px;
      vertical-align: middle; }
    /* line 109, ../sass/style.scss */
    .navbar .project_selector form input[type="submit"] {
      float: left;
      margin-top: 8px; }
/* line 116, ../sass/style.scss */
.navbar .language_selector {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-left: 5%;
  width: 10%;
  vertical-align: middle; }
  /* line 124, ../sass/style.scss */
  .navbar .language_selector a {
    color: #777777; }
  /* line 128, ../sass/style.scss */
  .navbar .language_selector a.selected {
    color: #0088CC; }

/* INTERFACES */
/* line 138, ../sass/style.scss */
.main-wrapper .header {
  margin-bottom: 20px; }
  /* line 142, ../sass/style.scss */
  .main-wrapper .header .title {
    float: left; }
  /* line 146, ../sass/style.scss */
  .main-wrapper .header .button_add {
    float: right;
    margin-top: 15px; }

/* LOGIN */
/* line 155, ../sass/style.scss */
#login {
  width: 245px;
  margin: 180px auto 0 auto; }
  /* line 160, ../sass/style.scss */
  #login input[type="submit"] {
    display: block;
    margin-top: 10px;
    margin-left: 80px; }
  /* line 166, ../sass/style.scss */
  #login .error {
    text-align: center; }
  /* line 170, ../sass/style.scss */
  #login .logo {
    margin-bottom: 20px; }

/* DASHBOARD */
