/* STRUCTURE */
/* line 3, ../sass/style.scss */
body {
  margin: 0 auto;
  padding: 0;
  font: 100%/1.4 "lucida sans unicode", "lucida grande", "Trebuchet MS", verdana, arial, helvetica, helve, sans-serif; }

/* line 9, ../sass/style.scss */
strong {
  font-weight: bold; }

/* line 13, ../sass/style.scss */
.container {
  clear: both;
  color: #333333;
  font-size: 0.8125em;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 1em 0;
  position: relative;
  width: 95%; }

/* COMMON */
/* line 26, ../sass/style.scss */
.clear {
  clear: both; }

/* line 30, ../sass/style.scss */
.table td, .table th {
  vertical-align: middle; }

/* line 38, ../sass/style.scss */
textarea {
  font-size: 13px;
  font-family: inherit; }

/* TABLE */
/* line 44, ../sass/style.scss */
.table td.action {
  text-align: center; }
  /* line 46, ../sass/style.scss */
  .table td.action a {
    color: #333333;
    text-decoration: underline; }

/* NAV BAR */
/* line 57, ../sass/style.scss */
.navbar .navbar-inner {
  margin: 0;
  padding: 0; }
  /* line 61, ../sass/style.scss */
  .navbar .navbar-inner .nav {
    width: 45%; }
/* line 66, ../sass/style.scss */
.navbar .welcome {
  float: right; }
  /* line 69, ../sass/style.scss */
  .navbar .welcome .greetings {
    float: none;
    padding: 10px 15px 10px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 white; }
    /* line 76, ../sass/style.scss */
    .navbar .welcome .greetings .user {
      font-weight: bold; }
/* line 82, ../sass/style.scss */
.navbar .language_selector {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-left: 5%;
  width: 10%;
  vertical-align: middle; }
  /* line 90, ../sass/style.scss */
  .navbar .language_selector a {
    color: #777777; }
  /* line 94, ../sass/style.scss */
  .navbar .language_selector a.selected {
    color: #0088CC; }

/* INTERFACES */
/* line 104, ../sass/style.scss */
.main-wrapper .header {
  margin-bottom: 20px;
  background-color: rgba(255, 235, 175, 0.5);
  border: 1px solid #f9d06e;
  padding: 0px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  /* line 115, ../sass/style.scss */
  .main-wrapper .header .title {
    float: left; }
  /* line 119, ../sass/style.scss */
  .main-wrapper .header .button-add {
    float: right;
    margin-top: 15px; }

/* LOGIN */
/* line 128, ../sass/style.scss */
#login {
  width: 245px;
  margin: 180px auto 0 auto; }
  /* line 133, ../sass/style.scss */
  #login input[type="submit"] {
    display: block;
    width: 100px;
    margin: 20px auto 0 auto; }
  /* line 139, ../sass/style.scss */
  #login .error {
    text-align: center; }
  /* line 143, ../sass/style.scss */
  #login .logo {
    margin-bottom: 20px; }

/* DASHBOARD */
/* line 150, ../sass/style.scss */
.ticket-filter-selector {
  float: left;
  margin-left: 5%;
  margin-top: 10px; }
  /* line 155, ../sass/style.scss */
  .ticket-filter-selector select {
    width: auto;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    margin: 0; }
  /* line 163, ../sass/style.scss */
  .ticket-filter-selector label {
    display: inline; }
  /* line 167, ../sass/style.scss */
  .ticket-filter-selector form {
    margin-bottom: 0; }
    /* line 170, ../sass/style.scss */
    .ticket-filter-selector form div {
      display: block;
      float: left;
      margin-top: 6px; }
    /* line 176, ../sass/style.scss */
    .ticket-filter-selector form div:first-child {
      margin-right: 10px; }
    /* line 180, ../sass/style.scss */
    .ticket-filter-selector form input[type="submit"] {
      float: left;
      margin: 0;
      height: 30px;
      line-height: 30px;
      padding-top: 0;
      padding-bottom: 0; }

/* line 191, ../sass/style.scss */
.priority-1 {
  background: #468847; }

/* line 195, ../sass/style.scss */
.priority-2 {
  background: #F89406; }

/* line 199, ../sass/style.scss */
.priority-3 {
  background: #B94A48; }

/* line 206, ../sass/style.scss */
.status-2 {
  background: #f9f3c8; }

/* line 210, ../sass/style.scss */
.status-3 {
  background: #d9f4f7; }

/* line 214, ../sass/style.scss */
.status-4 {
  background: #D9EDF7; }

/* line 218, ../sass/style.scss */
.status-5 {
  background: #ffebaf; }

/* line 222, ../sass/style.scss */
.status-6 {
  background: #e6f9de; }

/* line 226, ../sass/style.scss */
.status-7 {
  background: #DFF0D8; }

/* line 230, ../sass/style.scss */
.status-8 {
  background: #e5e5e5; }

/* line 234, ../sass/style.scss */
td.center {
  text-align: center; }

/* line 240, ../sass/style.scss */
.table tr:hover td a {
  font-weight: bold; }

/* FOOTER */
/* line 247, ../sass/style.scss */
.footer {
  width: 230px;
  height: 53px;
  margin: 40px auto 0 auto; }
