/* STRUCTURE */

body {
    margin : 0 auto;
    padding : 0;
    font : 100%/1.4 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
}

strong {
    font-weight: bold;
}

.container {
    clear: both;
    color: #333333;
    font-size: 0.8125em;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 1em 0;
    position: relative;
    width: 95%;
}

/* COMMON */

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.table td, .table th {
    vertical-align: middle;
}

h1 {

}

textarea {
    font-size: 13px;
    font-family: inherit;
}

/* TABLE */

.table td.action {

    a {
        color: #333333;
        text-decoration: underline;
    }
    text-align: center;
}

/* NAV BAR */

.navbar {

    .navbar-inner {
        margin: 0;
        padding: 0;

        .nav {
            width: 45%;
        }
    }

    .welcome {
        float: right;

        .greetings {
            float: none;
            padding: 10px 15px 10px;
            color: #777;
            text-decoration: none;
            text-shadow: 0 1px 0 white;

            .user {
                font-weight: bold;
            }
        }
    }

    .language_selector {
        float: left;
        height: 40px;
        line-height: 40px;
        margin-left: 5%;
        vertical-align: middle;

        a {
            color: #777777;
        }

        a.selected {
            color: #0088CC;
        }
    }
}

/* INTERFACES */

.main-wrapper {

    .header {

        margin-bottom: 20px;
        background-color: rgba(255, 235, 175, 0.5);
        border: 1px solid #f9d06e;
        padding: 0px 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;


        .title {
            float: left;
        }

        .button-add {
            float: right;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}

/* LOGIN */

#login {

    width: 245px;
    margin: 180px auto 0 auto;

    input[type="submit"] {
        display: block;
        width: 100px;
        margin: 20px auto 0 auto;
    }

    .error {
        text-align: center;
    }

    .logo {
        margin-bottom: 20px;
    }
}

/* DASHBOARD */

.ticket-filter {

    cursor: pointer;
    margin-bottom: 10px;

    .ticket-filter-selector {
        select {
            width: auto;
            color: #777;
            text-decoration: none;
            text-shadow: 0 1px 0 white;
            margin-right: 10px;
        }

        label {
            display: inline;
        }

        form {
            margin-bottom: 0;

            input[type="submit"] {
                margin: 0;
                height: 30px;
                line-height: 30px;
                margin-bottom: 10px;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}

/* TABLES */

.priority-1 {
    background: #468847;
}

.priority-2 {
    background: #F89406;
}

.priority-3 {
    background: #B94A48;
}

.status-1 {
}

.status-2 {
    background: #f9f3c8;
}

.status-3 {
    background: #d9f4f7;
}

.status-4 {
    background: #D9EDF7;
}

.status-5 {
    background: #ffebaf;
}

.status-6 {
    background: #e6f9de;
}

.status-7 {
    background: #DFF0D8;
}

.status-8 {
    background: #e5e5e5;
}

td.center {
    text-align: center;
}

/* FOOTER */

.footer {
    width: 230px;
    height: 53px;
    margin: 40px auto 0 auto;
}

/* RESONSIVE */

@media (max-width: 979px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .ticket-filter {

        .ticket-filter-selector {
            select {
                display: block;
            }
        }
    }
}

@media (max-width: 480px), (max-width: 768px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        /* Behave  like a "row" */
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}
