/* STRUCTURE */

body {
    margin : 0 auto;
    padding : 0;
    font : 100%/1.4 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
}

strong {
    font-weight: bold;
}

.container {
    clear: both;
    color: #333333;
    font-size: 0.8125em;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 1em 0;
    position: relative;
    width: 95%;
}

/* COMMON */

.clear {
    clear: both;
}

.table td, .table th {
    vertical-align: middle;
}

h1 {

}

/* TABLE */
.table td.action {
    text-align: center;
}

/* NAV BAR */

.navbar {

    .navbar-inner {
        margin: 0;
        padding: 0;

        .nav {
            width: 45%;
        }
    }

    .welcome {
        float: right;

        .greetings {
            float: none;
            padding: 10px 15px 10px;
            color: #777;
            text-decoration: none;
            text-shadow: 0 1px 0 white;

            .user {
                font-weight: bold;
            }
        }
    }

    .project_selector {
        float: left;
        width: 20%;
        margin-left: 5%;

        select {
            width: auto;
            color: #777;
            text-decoration: none;
            text-shadow: 0 1px 0 white;
            margin: 3px 5px 5px 5px;
        }

        input[type="submit"] {
            margin-top: 0;
        }

        label {
            display: inline;
        }

        form {
            margin-bottom: 0;

            div {
                display: block;
                float: left;
                height: 40px;
                line-height: 40px;
                vertical-align: middle;
            }

            input[type="submit"] {
                float: left;
                margin-top: 8px;
            }
        }
    }

    .language_selector {
        float: left;
        height: 40px;
        line-height: 40px;
        margin-left: 5%;
        width: 10%;
        vertical-align: middle;

        a {
            color: #777777;
        }

        a.selected {
            color: #0088CC;
        }
    }
}

/* INTERFACES */

.main-wrapper {

    .header {

        margin-bottom: 20px;

        .title {
            float: left;
        }

        .button_add {
            float: right;
            margin-top: 15px;
        }
    }
}

/* LOGIN */

#login {

    width: 245px;
    margin: 180px auto 0 auto;

    input[type="submit"] {
        display: block;
        width: 100px;
        margin: 20px auto 0 auto;
    }

    .error {
        text-align: center;
    }

    .logo {
        margin-bottom: 20px;
    }
}

/* DASHBOARD */

#dashboard {

}
