{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/webaccessbugtracker/css/grid.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/webaccessbugtracker/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/webaccessbugtracker/css/style.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        {% block bugtracker_body %}
        {% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
